body{
    position:relative;
    height:1200px;
    background-color:rgb(219, 219, 219);
}
.about-me{
min-height: 200px;
font-size:18px;
}
/* navbar related */
.navbar{
    margin-bottom:0px;
    padding:0 50px;
}
.navbar-brand{
    color:white !important;
    background-color: aquamarine;
    font-size: 28px;
    font-weight:700;
    padding:28px;
}
#navbarNavAltMarkup{
    justify-content:flex-end;
}
hr{
    background-color: black;
    margin-top:0px;
}
/* end of nav bar related */

/* index about me article  */
#about_me_box{
    border: 1px solid rgb(151, 151, 151);
    margin: 40px 0 0 50px;
    padding:35px 30px 30px 30px;
    background-color:white;
}
#about_me_box h2{
    color: aquamarine;
    margin-bottom:25px;
}
#about_me_box div{
margin-top: 30px;
}
#about_me_box img{
    float:left;
    margin-right: 10px;
    margin-top:7px;
}
#about_me_box p{
    display:inline-block;
}
footer{
    position: absolute;
    bottom:0px;
    width:100%;
    padding:20px 0;
    background-color: gray;
    text-align: center;
    border-top: 3px solid turquoise;
}
i{
    margin-left:20px;
}